<br>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Data Biodata</h2>
    <a ui-sref="biodata.new" class="btn btn-primary" ng-if="user.status === 'Admin'">
      <i class="fa fa-plus"></i> Tambah Biodata Pekerja</a>
    <br>
    <br>
    <table ng-table="table" class="table table-striped table-bordered" show-filter="true">
      <tbody ng-repeat="biodata in $data" class="text-center">
        <tr>
          <td title="'ID'">{{biodata.id}}</td>
          <td title="'Nama Lengkap'" filter="{ nama_lengkap: 'text' }">{{biodata.nama_lengkap}}</td>
          <td title="'TTL'">{{biodata.ttl}}</td>
          <td title="'Jabatan'">{{biodata.jabatan}}</td>
          <td title="'Alamat'">{{biodata.alamat}}</td>
          <td title="'Actions'" ng-if="user.status === 'Admin'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(biodata.code, biodata)">
                  <i class="fa fa-eye"></i>
                </button> -->
              <a ui-sref="biodata.edit({id: biodata.id})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(biodata.id, biodata)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>