<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <br>
    <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Profile {{ pekerja.nama_lengkap }}</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped">
          <tr>
            <th>Nama Lengkap</th>
            <td>{{ pekerja.nama_lengkap }}</td>
          </tr>
          <tr>
            <th>Tanggal Lahir</th>
            <td>{{ pekerja.ttl | date: 'dd MM yyyy' }}</td>
          </tr>
          <tr>
            <th>Alamat</th>
            <td>{{ pekerja.alamat }}</td>
          </tr>
          <tr>
            <th>Jabatan</th>
            <td>{{ pekerja.jabatan }}</td>
          </tr>
        </table>
        <a ui-sref="biodata.edit({ id: pekerja.id })" class="btn btn-primary">
          <i class="fa fa-pencil"></i> Edit</a>
      </div>
    </div>
  </div>
</div>