<br>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Data Pekerja</h2>
    <a ui-sref="pekerja.new" class="btn btn-primary" ng-if="user.status === 'Admin'">
      <i class="fa fa-plus"></i> Tambah Pekerja</a>
    <button class="btn btn-info" ng-click="onPrint()">
      <i class="fa fa-print"></i>&nbsp;PRINT</button>
    <button class="btn btn-success" ng-click="sendEmail()">
      <i class="fa fa-envelope"></i>&nbsp;NOTIFIKASI EMAIL&nbsp;
      <i class="fa fa-refresh fa-spin" ng-if="mailing"></i>
    </button>
    <br>
    <br>
    <table ng-table="table" class="table table-striped table-bordered" show-filter="true">
      <tbody ng-repeat="pekerja in $data" class="text-center">
        <tr>
          <td title="'ID Pekerja'">{{pekerja.ID_USER}}</td>
          <td title="'TANGGAL'" filter="{ tanggal: 'text' }">{{pekerja.TANGGAL}}</td>
          <td title="'Nama Pekerja'" filter="{ NAMA: 'text' }">{{pekerja.nama_lengkap}}</td>
          <td title="'KEGIATAN'">{{pekerja.KEGIATAN}}</td>
          <td title="'JAM MASUK'">{{pekerja.JAM_MASUK}}</td>
          <td title="'JAM KELUAR'">{{pekerja.JAM_KELUAR}}</td>
          <td title="'DOSIS AWAL'">{{pekerja.DOSIS_AWAL}}</td>
          <td title="'DOSIS AKHIR'">{{pekerja.DOSIS_AKHIR}}</td>
          <!-- <td title="'Kepala'">{{pekerja.kepala_pekerja}}</td> -->
          <td title="'Actions'" ng-if="user.status === 'Admin'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(pekerja.code, pekerja)">
                  <i class="fa fa-eye"></i>
                </button> -->
              <a ui-sref="pekerja.edit({id: pekerja.ID_USER})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(pekerja.ID_USER, pekerja)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>