<!DOCTYPE html>
<html lang="en" ng-app="batan">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BATAN</title>
  <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dashboard.css">
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/ng-table/dist/ng-table.min.js"></script>

  <script src="src/app.js"></script>
</head>

<body ng-controller="MasterCtrl">
  <style>
    .navbar-fixed-top {
      border: 1;
      min-height: 90px;
    }

    .navbar-nav>li>a {
      margin-top: 10px;
    }
  </style>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">
          <img src="assets/img/batan.png" width="350px" height="60px">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="contact.html">CONTACT</a>
          </li>
          <li ng-if="user">
            <a href="dashboard/">DASHBOARD</a>
          </li>
          <li ng-if="!user">
            <a href="login.html">LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="banner-img">
    <img src="assets/img/gambar1.jpg" alt="">
  </div>
  <div class="footerBottomSection">
    <div class="container">
      &copy; 2018, HILDA SEPTA WINDYA
    </div>
  </div>
</body>

</html>