<!DOCTYPE html>
<html lang="en" ng-app="batan">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BATAN</title>
  <link rel="stylesheet" href="bower_components/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="bower_components/bootstrap/dashboard.css">
  <link rel="stylesheet" href="bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="bower_components/ng-table/dist/ng-table.min.css">

  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="bower_components/ng-table/dist/ng-table.min.js"></script>

  <script src="src/app.js"></script>
</head>

<body>
  <style>
    .navbar-fixed-top {
      border: 1;
      min-height: 90px;
    }

    .navbar-nav>li>a {
      margin-top: 10px;
    }
  </style>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="./">
          <img src="assets/img/batan.png" width="350px" height="60px">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="contact.html">CONTACT</a>
          </li>
          <li>
            <a href="login.html">LOGIN</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <br>
  <br>
  <div class="container" ng-controller="LoginCtrl">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h2 class="page-header">LOGIN</h2>
        <form>
          <div class="form-group">
            <label>Username</label>
            <input type="text" name="username" ng-model="user.username" class="form-control">
          </div>
          <div class="form-group">
            <label>Status</label>
            <select name="status" class="form-control" ng-model="user.status">
              <option selected disabled>-- Pilih Status --</option>
              <option value="Admin">Admin</option>
              <option value="Pekerja">Pekerja</option>
            </select>
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="password" name="password" ng-model="user.password" class="form-control">
          </div>
          <button type="button" ng-click="onSubmit()" class="btn btn-primary btn-block">
            <i class="fa fa-refresh fa-spin" ng-if="onLogin"></i>&nbsp;LOGIN</button>
        </form>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="footerBottomSection">
    <div class="container">
      &copy; 2018, HILDA SEPTA WINDYA
    </div>
  </div>
</body>

</html>