<br>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Data Kegiatan</h2>
    <a ui-sref="kegiatan.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah Kegiatan</a>
    <br>
    <br>
    <div class="table-responsive">
      <table ng-table="table" class="table table-striped table-bordered" show-filter="true">
        <tbody ng-repeat="kegiatan in $data" class="text-center">
          <tr>
            <td title="'ID Kegiatan'">{{kegiatan.ID}}</td>
            <td title="'Nama Kegiatan'" filter="{ 'NAMA': 'text' }">{{kegiatan.NAMA}}</td>
            <td title="'Tanggal'">{{kegiatan.TANGGAL}}</td>
            <td title="'Ruangan'">{{kegiatan.RUANGAN}}</td>
            <td title="'TYPE DOSE'">{{kegiatan.TYPE_DOSE}}</td>
            <td title="'DOSIS AWAL'">{{kegiatan.DOSIS_AWAL}}</td>
            <td title="'DOSIS AKHIR'">{{kegiatan.DOSIS_AKHIR}}</td>
            <td title="'ID ALAT'" filter="{ 'ID_ALAT': 'text' }">{{kegiatan.ID_ALAT}}</td>
            <td title="'NAMA ALAT'">{{kegiatan.NAMA_ALAT}}</td>
            <td title="'Lokasi'">{{kegiatan.LOKASI}}</td>
            <!-- <td title="'Kegiatan'">{{kegiatan.KEGIATAN}}</td> -->
            <td title="'Actions'">
              <div class="btn-group">
                <!-- <button class="btn btn-default btn-sm" ng-click="open(kegiatan.code, kegiatan)">
                    <i class="fa fa-eye"></i>
                  </button> -->
                <a ui-sref="kegiatan.edit({id: kegiatan.ID})" class="btn btn-info btn-sm">
                  <i class="fa fa-pencil"></i>
                </a>
                <button class="btn btn-danger btn-sm" ng-click="onDelete(kegiatan.ID, kegiatan)">
                  <i class="fa fa-trash"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>