<br>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Data Pengembalian</h2>
    <a ui-sref="pengembalian.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah Pengembalian</a>
    <br>
    <br>
    <table ng-table="table" class="table table-striped table-bordered" show-filter="true">
      <tbody ng-repeat="pengembalian in $data" class="text-center">
        <tr>
          <td title="'ID Pengembalian'">{{pengembalian.id}}</td>
          <td title="'ID Alat'" filter="{ 'id_alat': 'text' }">{{pengembalian.id_alat}}</td>
          <td title="'Nama Alat'">{{pengembalian.nama_alat}}</td>
          <td title="'Nama Pekerja'">{{pengembalian.nama_lengkap}}</td>
          <td title="'Jumlah Pengembalian'">{{pengembalian.jumlah_alat}}</td>
          <td title="'Tanggal Pengembalian'">{{pengembalian.tanggal | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
          <!-- <td title="'Kepala'">{{pengembalian.kepala_pengembalian}}</td> -->
          <!-- <td title="'Actions'">
            <div class="btn-group">
              
              <button class="btn btn-danger btn-sm" ng-click="onDelete(pengembalian.id, pengembalian)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>