<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah Pekerja</h2>
    <h2 class="page-header" ng-if="onEdit">Edit Pekerja {{model.NAMA}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group" ng-init="getPekerja()">
        <label>Nama Pekerja</label>
        <!-- <input type="text" name="name" ng-model="model.NAMA" class="form-control"> -->
        <select name="id_user" ng-model="model.ID_USER" class="form-control">
          <option ng-repeat="p in pekerja" value="{{p.id}}">{{p.nama_lengkap}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Kegiatan</label>
        <input type="text" name="KEGIATAN" ng-model="model.KEGIATAN" class="form-control">
      </div>
      <div class="form-group">
        <label>Ruangan</label>
        <input type="text" name="RUANGAN" ng-model="model.RUANGAN" class="form-control">
      </div>
      <div class="form-group">
        <label>TYPE DOSE</label>
        <input type="text" name="TYPE_DOSE" ng-model="model.TYPE_DOSE" class="form-control">
      </div>
      <div class="form-group">
        <label>Jam Masuk</label>
        <input type="time" name="JAM_MASUK" ng-model="model.JAM_MASUK" ng-if="!onEdit" class="form-control">
        <input type="datetime" name="JAM_MASUK" ng-model="model.JAM_MASUK" ng-if="onEdit" class="form-control">
      </div>
      <div class="form-group">
        <label>Jam Keluar</label>
        <input type="time" name="JAM_KELUAR" ng-model="model.JAM_KELUAR" ng-if="!onEdit" class="form-control">
        <input type="datetime" name="JAM_KELUAR" ng-model="model.JAM_KELUAR" ng-if="onEdit" class="form-control">
      </div>
      <div class="form-group">
        <label>DOSIS AWAL</label>
        <input type="number" name="DOSIS_AWAL" ng-model="model.DOSIS_AWAL" class="form-control">
      </div>
      <div class="form-group">
        <label>DOSIS AKHIR</label>
        <input type="number" name="DOSIS_AKHIR" ng-model="model.DOSIS_AKHIR" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>