<!DOCTYPE html>
<html lang="en" ng-app="batan">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>BATAN</title>
  <link rel="stylesheet" href="../bower_components/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="../bower_components/bootstrap/dashboard.css">
  <link rel="stylesheet" href="../bower_components/components-font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="../bower_components/ng-table/dist/ng-table.min.css">

  <script src="../bower_components/angular/angular.min.js"></script>
  <script src="../bower_components/ng-table/dist/ng-table.min.js"></script>
  <script src="../bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="../src/app.js"></script>

  <script src="../src/alat/alat.js"></script>
  <script src="../src/alat/alat.controller.js"></script>
  <script src="../src/alat/form/alat.form.controller.js"></script>

  <script src="../src/peminjaman/peminjaman.js"></script>
  <script src="../src/peminjaman/peminjaman.controller.js"></script>
  <script src="../src/peminjaman/form/peminjaman.form.controller.js"></script>

  <script src="../src/pengembalian/pengembalian.js"></script>
  <script src="../src/pengembalian/pengembalian.controller.js"></script>
  <script src="../src/pengembalian/form/pengembalian.form.controller.js"></script>

  <script src="../src/kegiatan/kegiatan.js"></script>
  <script src="../src/kegiatan/kegiatan.controller.js"></script>
  <script src="../src/kegiatan/form/kegiatan.form.controller.js"></script>

  <script src="../src/pekerja/pekerja.js"></script>
  <script src="../src/pekerja/pekerja.controller.js"></script>
  <script src="../src/pekerja/form/pekerja.form.controller.js"></script>

  <script src="../src/biodata/biodata.js"></script>
  <script src="../src/biodata/biodata.controller.js"></script>
  <script src="../src/biodata/profile.controller.js"></script>
  <script src="../src/biodata/form/biodata.form.controller.js"></script>

  <script src="../src/laporanKegiatan/laporanKegiatan.js"></script>
  <script src="../src/laporanKegiatan/laporanKegiatan.controller.js"></script>

  <script src="../src/laporanKeselamatan/laporanKeselamatan.js"></script>
  <script src="../src/laporanKeselamatan/laporanKeselamatan.controller.js"></script>
</head>

<body ng-controller="MasterCtrl">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="../">
          <img src="../assets/img/batan.png" width="350px" height="55px">
        </a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a ui-sref="biodata.profile">
              <i class="fa fa-user-o"></i> {{ user.username }}</a>
          </li>
          <li>
            <a href="#" ng-click="onLogout()">
              <i class="fa fa-sign-out"></i> Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="side-header">
            <a class="text-center">PEKERJA</a>
          </li>
          <li>
            <a ui-sref="biodata.index" ng-if="user.status === 'Admin'">
              <i class="fa fa-users"></i>&nbsp;
              <strong>BIODATA PEKERJA</strong>
            </a>
          </li>
          <li>
            <a ui-sref="pekerja.index">
              <i class="fa fa-users"></i>&nbsp;
              <strong>DATA PEKERJA</strong>
            </a>
          </li>
          <li class="side-header" ng-if="user.status === 'Admin'">
            <a class="text-center">ALAT</a>
          </li>
          <li ng-if="user.status === 'Admin'">
            <a ui-sref="alat.index">
              <i class="fa fa-gear"></i>&nbsp;
              <strong>DATA ALAT</strong>
            </a>
          </li>
          <li ng-if="user.status === 'Admin'">
            <a ui-sref="peminjaman.index">
              <i class="fa fa-book"></i>&nbsp;
              <strong>PEMINJAMAN ALAT</strong>
            </a>
          </li>
          <li ng-if="user.status === 'Admin'">
            <a ui-sref="pengembalian.index">
              <i class="fa fa-retweet"></i>&nbsp;
              <strong>PENGEMBALIAN ALAT</strong>
            </a>
          </li>
          <!-- <li class="side-header" ng-if="user.status === 'Admin'">
            <a class="text-center">KEGIATAN</a>
          </li>
          <li ng-if="user.status === 'Admin'">
            <a ui-sref="kegiatan.index">
              <i class="fa fa-book"></i>&nbsp;
              <strong>DATA KEGIATAN</strong>
            </a>
          </li> -->
          <li class="side-header">
            <a class="text-center">Laporan</a>
          </li>
          <li>
            <a ui-sref="laporanKegiatan.index">
              <i class="fa fa-clock-o"></i>&nbsp;
              <strong>Laporan Kegiatan</strong>
            </a>
          </li>
          <li>
            <a ui-sref="laporanKeselamatan.index">
              <i class="fa fa-check-circle"></i>&nbsp;
              <strong>Laporan Keselamatan</strong>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div ui-view></div>
        <!-- <div class="footerBottomSection">
          <div class="container-fluid">
            &copy; 2018, HILDA SEPTA WINDYA
          </div>
        </div> -->
      </div>
    </div>
  </div>

</body>

</html>