<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header">Laporan Kegiatan Pekerja</h2>
    <form ng-submit="onPROCESS()">
      <div class="form-group">
        <label>Tanggal Awal</label>
        <input type="date" name="awal" ng-model="model.awal" class="form-control">
      </div>
      <div class="form-group">
        <label>Tanggal Akhir</label>
        <input type="date" name="akhir" ng-model="model.akhir" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> PROCESS</button>
    </form>
  </div>
</div>