<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah Alat</h2>
    <h2 class="page-header" ng-if="onEdit">Edit Alat {{model.NAMA_ALAT}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>ID Alat</label>
        <input type="text" name="id" ng-model="model.ID_ALAT" class="form-control">
      </div>
      <div class="form-group">
        <label>Nama Alat</label>
        <input type="text" name="name" ng-model="model.NAMA_ALAT" class="form-control">
      </div>
      <div class="form-group">
        <label>Jumlah Alat</label>
        <input type="number" name="jumlah" ng-model="model.JUMLAH_ALAT" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>