<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah Pengembalian</h2>
    <h2 class="page-header" ng-if="onEdit">Edit Pengembalian No: {{model.id}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>ID Alat</label>
        <input type="text" name="id" ng-model="model.id_alat" class="form-control">
      </div>
      <div class="form-group">
        <label>Jumlah Pengembalian</label>
        <input type="number" name="jumlah" ng-model="model.jumlah_alat" class="form-control">
      </div>
      <div class="form-group" ng-init="getPegawai()">
        <label>Pekerja</label>
        <select name="pekerja" ng-model="model.id_user" class="form-control">
          <option ng-repeat="p in pekerja" value="{{p.id}}">{{p.nama_lengkap}}</option>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>