<br>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Data Alat</h2>
    <a ui-sref="alat.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah Alat</a>
    <br>
    <br>
    <table ng-table="table" class="table table-striped table-bordered" show-filter="true">
      <tbody ng-repeat="alat in $data" class="text-center">
        <tr>
          <td title="'ID Alat'">{{alat.ID_ALAT}}</td>
          <td title="'Nama Alat'" filter="{ 'NAMA_ALAT': 'text' }">{{alat.NAMA_ALAT}}</td>
          <td title="'Jumlah Alat'">{{alat.JUMLAH_ALAT}}</td>
          <td title="'Status Alat'">{{alat.dipakai > 0 ? alat.dipakai + ' Alat Belum Dikembalikan' : 'Lengkap' }}</td>
          <!-- <td title="'Kepala'">{{alat.kepala_alat}}</td> -->
          <td title="'Actions'">
            <div class="btn-group">
              <!-- <button class="btn btn-default btn-sm" ng-click="open(alat.code, alat)">
                  <i class="fa fa-eye"></i>
                </button> -->
              <a ui-sref="alat.edit({id: alat.ID_ALAT})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(alat.ID_ALAT, alat)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>