<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah Kegiatan</h2>
    <h2 class="page-header" ng-if="onEdit">Edit Kegiatan {{model.NAMA}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>Nama Kegiatan</label>
        <input type="text" name="name" ng-model="model.NAMA" class="form-control">
      </div>
      <div class="form-group">
        <label>RUANGAN</label>
        <input type="text" name="RUANGAN" ng-model="model.RUANGAN" class="form-control">
      </div>
      <div class="form-group">
        <label>TYPE DOSE</label>
        <input type="text" name="TYPE_DOSE" ng-model="model.TYPE_DOSE" class="form-control">
      </div>
      <div class="form-group">
        <label>DOSIS AWAL</label>
        <input type="number" name="DOSIS_AWAL" ng-model="model.DOSIS_AWAL" class="form-control">
      </div>
      <div class="form-group">
        <label>DOSIS AKHIR</label>
        <input type="number" name="DOSIS_AKHIR" ng-model="model.DOSIS_AKHIR" class="form-control">
      </div>
      <div class="form-group">
        <label>ID ALAT</label>
        <input type="text" name="ID_ALAT" ng-model="model.ID_ALAT" class="form-control">
      </div>
      <div class="form-group">
        <label>LOKASI</label>
        <input type="text" name="LOKASI" ng-model="model.LOKASI" class="form-control">
      </div>
      <div class="form-group">
        <label>KEGIATAN</label>
        <input type="text" name="KEGIATAN" ng-model="model.KEGIATAN" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>