<br>
<div class="row">
  <div class="col-md-12">
    <h2 class="page-header">Data Peminjaman</h2>
    <a ui-sref="peminjaman.new" class="btn btn-primary">
      <i class="fa fa-plus"></i> Tambah Peminjaman</a>
    <br>
    <br>
    <table ng-table="table" class="table table-striped table-bordered" show-filter="true">
      <tbody ng-repeat="peminjaman in $data" class="text-center">
        <tr>
          <td title="'ID Peminjaman'">{{peminjaman.id}}</td>
          <td title="'ID Alat'" filter="{ 'id_alat': 'text' }">{{peminjaman.id_alat}}</td>
          <td title="'Nama Alat'">{{peminjaman.nama_alat}}</td>
          <td title="'Nama Pekerja'">{{peminjaman.nama_lengkap}}</td>
          <td title="'Jumlah Peminjaman'">{{peminjaman.jumlah_alat}}</td>
          <td title="'Tanggal Peminjaman'">{{peminjaman.tanggal | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
          <!-- <td title="'Kepala'">{{peminjaman.kepala_peminjaman}}</td> -->
          <!-- <td title="'Actions'">
            <div class="btn-group">
              <button class="btn btn-default btn-sm" ng-click="open(peminjaman.code, peminjaman)">
                  <i class="fa fa-eye"></i>
                </button>
              <a ui-sref="peminjaman.edit({id: peminjaman.id})" class="btn btn-info btn-sm">
                <i class="fa fa-pencil"></i>
              </a>
              <button class="btn btn-danger btn-sm" ng-click="onDelete(peminjaman.id, peminjaman)">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </td> -->
        </tr>
      </tbody>
    </table>
  </div>
</div>