<br>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2 class="page-header" ng-if="!onEdit">Tambah Biodata Pekerja</h2>
    <h2 class="page-header" ng-if="onEdit">Edit Biodata Pekerja {{model.NAMA}}</h2>
    <form ng-submit="onSave()">
      <div class="form-group">
        <label>Nama Lengkap</label>
        <input type="text" name="nama_lengkap" ng-model="model.nama_lengkap" class="form-control">
      </div>
      <div class="form-group">
        <label>Email</label>
        <input type="email" name="email" ng-model="model.email" class="form-control">
      </div>
      <div class="form-group">
        <label>Tanggal Lahir</label>
        <input type="date" name="ttl" ng-model="model.ttl" ng-if="!onEdit" class="form-control">
        <input type="datetime" name="ttl" ng-model="model.ttl" ng-if="onEdit" class="form-control">
      </div>
      <div class="form-group">
        <label>Alamat</label>
        <textarea name="alamat" ng-model="model.alamat" class="form-control"></textarea>
      </div>
      <div class="form-group">
        <label>Jabatan</label>
        <input type="text" name="jabatan" ng-model="model.jabatan" class="form-control">
      </div>
      <hr>
      <div ng-if="!onEdit">
        <small>*) DATA UNTUK LOGIN</small>
        <div class="form-group">
          <label>Username</label>
          <input type="text" name="username" ng-model="model.USERNAME" class="form-control">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" name="username" ng-model="model.PASSWORD" class="form-control">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">
        <i class="fa fa-save"></i> Simpan</button>
    </form>
  </div>
</div>